

header {
  width: 100%;
  height: 100px;
  background-color: yellow;
  padding: 20px;
}

header h1, h4 {
  margin-left: 50px;
  max-height: 50px;
  margin-top: 0px;
}

main .row {
  margin-bottom: 20px;
}

.box {
  height: 300px;
  text-align: center;
  padding-top: 30px;
}

.words {
  text-align: left;
  border: 1px solid black;
  padding-left: 10px;
  padding: 20px;
}

.ray {
  background-image: url(images/rey_square.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.finn {
  background-image: url(images/finn_square.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.kylo {
  background-image: url(images/kylo_square.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.poe {
  background-image: url(images/poe_square.png); 
  background-size: cover;
  background-repeat: no-repeat;
}

.chewbacca {
  background-image: url(images/chewbacca_square.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.yoda {
  background-image: url(images/yoda_square.png);
  background-size: cover;
  background-repeat: no-repeat;
}